.container {
  margin: 0;
  display: flex;
  align-items:first baseline;
  justify-content: center;
  height: 80vh;
  gap: 400px;
}

.title-container{
  display: flex;
  justify-content: center;
}

.categories{
  display: flex;
  gap: 20px;
}
