.header {
  background-color: #ff793f;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;

  .logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
  }

  .login-buttons {
    button {
      padding: 8px 16px;
      margin-left: 10px;
      color: white;
      background-color: transparent;
      border: 1px solid white;
      border-radius: 4px;
      cursor: pointer;

      &:hover {
        background-color: white;
        color: #fd793f;
      }
    }

    .logout {
      border-color: white;
    }
  }
}
