.admin-header{
  background-color: #706fd3;
}

.user-header{
  background-color: #ff793f;
}

.header {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;


  .title-container {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    gap: 15px;
  }

  .title {
    color: white;
  }

  .login-buttons {
    button {
      padding: 8px 16px;
      margin-left: 10px;
      color: white;
      background-color: transparent;
      border: 1px solid white;
      border-radius: 4px;
      cursor: pointer;

      &:hover {
        background-color: white;
        color: #fd793f;
      }
    }

    .admin-logout:hover{
      background-color: white;
      color: #706fd3;
    }

  }
}
