<div class="login-section">
  <h1>Welcome back!</h1>
  <div class="login-signup-form">
    <h2>Login / Sign Up</h2>
    <button class="google-button" (click)="logInWithGoogle()">
      Continue with Google
    </button>
  </div>
</div>
<div class="card-section">
  <h2>Learn words easily with flashcards!</h2>
  <div class="card-container">
    <div class="card">
      <div>Magyar</div>
    </div>
    <div class="card">
      <div>English</div>
    </div>
  </div>
  <a class="tutorial" href="https://youtu.be/3XRK4mfTQ3k" target="_blank"
    >Watch our tutorial! &rightarrow;</a
  >
</div>
