.container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 80vh;
}

.card-container {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;

}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 200px;
  background-color: #d9d9e4;
  border-radius: 10px;
  margin: 20px;
  transition: transform 0.2s ease-in-out;

  h2 {
    text-align: center;
  }

  &:hover {
    transform: scale(1.05);
  }
}

.navigation{
  display: flex;
  justify-content: first baseline;
}
