h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  margin-bottom: 20px;
}

.btn {
  font-size: 16px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.create-btn {
  background-color: #ff9465;

  &:hover{
    background-color: #ffaf8c;
  }

  &:disabled {
    background-color: #fff2ec;
    cursor:not-allowed;
  }
}

.container {
  border: 1px solid #ccc;
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

  .old-details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    .detail {
      font-size: 16px;
      display: flex;
      align-items: center;
      gap: 5px;
    }

    .property-flag {
      background-color: #ffaf8c;
      padding: 5px;
      border-radius: 5px;
    }

  }

  form {
    label {
      display: block;
      font-size: 16px;
      margin-bottom: 5px;
    }

    input {
      width: 100%;
      padding: 10px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 4px;
      margin-bottom: 10px;
    }
  }

  div {
    margin-top: 15px;

    button {
        font-size: 16px;
        padding: 5px 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
  }
}
