<h1>Card Details</h1>
<p>
  Click on "Details" to display details, you can edit the card as well if you
  wish to do so.
</p>
<button
  class="create-btn btn"
  [disabled]="currentCard || creating"
  (click)="onCreateCard()"
>
  Create
</button>

<div class="container" *ngIf="currentCard">
  <div class="old-details">
    <div class="detail">
      <span class="property-flag">Old origin:</span>
      <span>{{ currentCard.origin }}</span>
    </div>
    <div class="detail">
      <span class="property-flag">Old target:</span>
      <span>{{ currentCard.target }}</span>
    </div>
    <div class="detail">
      <span class="property-flag">Old category:</span>
      <span>{{ currentCard.category }}</span>
    </div>
  </div>
  <form [formGroup]="cardForm">
    <label for="origin">New Origin: </label>
    <input
      class="input-fields"
      id="origin"
      type="text"
      formControlName="origin"
    />

    <label for="target">New Target: </label>
    <input
      class="input-fields"
      id="target"
      type="text"
      formControlName="target"
    />

    <label for="category">New Category: </label>
    <select class="input-fields" id="category" formControlName="category">
      <option value="adjective">Adjective</option>
      <option value="noun">Noun</option>
      <option value="verb">Verb</option>
    </select>
  </form>
  <div>
    <button
      class="save-btn btn"
      type="submit"
      [disabled]="!cardForm.valid"
      (click)="onSave()"
    >
      Save changes
    </button>
    <button class="cancel-btn btn" (click)="onCancel()">Cancel</button>
  </div>
</div>

<div class="container" *ngIf="creating && !currentCard">
  <form class="form" [formGroup]="cardForm">
    <label for="origin">Origin: </label>
    <input
      class="input-fields"
      id="origin"
      type="text"
      formControlName="origin"
    />

    <label for="target">Target: </label>
    <input
      class="input-fields"
      id="target"
      type="text"
      formControlName="target"
    />

    <label for="category">Category: </label>
    <select class="input-fields" id="category" formControlName="category">
      <option value="adjective">Adjective</option>
      <option value="noun">Noun</option>
      <option value="verb">Verb</option>
    </select>
  </form>
  <div>
    <button
      class="save-btn btn"
      type="submit"
      [disabled]="!cardForm.valid"
      (click)="onCreate()"
    >
      Save changes
    </button>
    <button class="cancel-btn btn" (click)="onCancel()">Cancel</button>
  </div>
</div>
