<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<app-header></app-header>
<div class="container">
  <div class="grid">
    <div class="card-container" *ngFor="let card of currentCards">
      <div class="card" (click)="flipCard(card)">
        <div class="card-content">
          <div *ngIf="!card.flipped">{{ card.target }}</div>
          <div *ngIf="card.flipped">{{ card.origin }}</div>
        </div>
        <div *ngIf="card.flipped" class="button-container">
          <button
            class="correct-btn btn"
            (click)="onCorrectGuess(card)"
            [disabled]="card.thrownIntoBucket"
          >
            I was right
          </button>
          <button
            *ngIf="card.flipped"
            class="wrong-btn btn"
            (click)="onWrongGuess(card)"
            [disabled]="card.thrownIntoBucket"
          >
            Next time
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="bucket-container">
    <div class="bucket">
      <img
        src="https://cdn-icons-png.flaticon.com/512/975/975562.png"
        alt="bucket"
      />
      <span>Correct: {{ correctGuess }}</span>
    </div>
    <div class="bucket">
      <img
        src="https://cdn-icons-png.flaticon.com/512/975/975562.png"
        alt="bucket"
      />
      <span>Wrong: {{ wrongGuess }}</span>
    </div>
    <button class="next-btn btn" (click)="nextCards()">
      Next cards &rightarrow;
    </button>
  </div>
</div>
