<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<div class="container">
  <div class="card" (click)="turnCard()">
    <div *ngIf="!currentCard?.flipped">{{ currentCard?.origin }}</div>
    &nbsp;/&nbsp;
    <div *ngIf="currentCard?.flipped">{{ currentCard?.target }}</div>
  </div>
  <button (click)="onRightGuess()">I was right</button>
  <button (click)="onWrongGuess()">Next time</button>
</div>
