<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<div class="container">
  <div class="grid">
    <div class="card-container" *ngFor="let card of currentCards">
      <div class="card" (click)="flipCard(card)">
        <div class="card-content">
          <div *ngIf="!card.flipped">{{ card.target }}</div>
          <div *ngIf="card.flipped">{{ card.origin }}</div>
        </div>
        <div class="button-container">
          <button
            (click)="onCorrectGuess(card)"
            [disabled]="card.thrownIntoBucket"
          >
            I was right
          </button>
          <button
            (click)="onWrongGuess(card)"
            [disabled]="card.thrownIntoBucket"
          >
            Next time
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="bucket-container">
    <div class="bucket">Correct Bucket: {{ correctGuess }}</div>
    <div class="bucket">Wrong Bucket: {{ wrongGuess }}</div>
    <button (click)="nextCards()">Next cards</button>
  </div>
</div>
