<div class="app-container">
  <app-header></app-header>
  <div class="admin-section">
    <div class="container">
      <div class="card-box">
        <div
          class="card"
          *ngFor="let card of cardService.cardsSubject | async; index as index"
        >
          <div class="content">
            <span>{{ card.origin }}</span
            >&nbsp;
            <p>/</p>
            &nbsp;
            <span>{{ card.target }}</span>
          </div>
          <div class="button-group">
            <button class="edit-btn btn" (click)="onDisplayDetails(card)">
              Details
            </button>
            <button class="delete-btn btn" (click)="onDeleteCard(card.id)">
              Delete
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <app-card-details></app-card-details>
    </div>
  </div>
</div>
