.app-container {
  display: flex;
  gap: 25px;
}

.container {
  width: 800px;
  margin: 0 auto;
  padding: 20px;

  .create-button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid #ccc;
    flex-grow: 1;
    gap: 5px;
    height: 80vh;

    .card {
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      padding: 20px;
      width: 300px;
    }

    .button-group {
      display: flex;
      justify-content: space-between;
      margin-top: 10px;

      .edit-button,
      .delete-button {
        padding: 5px 10px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }

      .edit-button {
        background-color: #28a745;
      }

      .delete-button {
        background-color: #dc3545;
      }
    }
  }
}
